<div class="text-center">
 <div class="title mt-3">
  相談を編集する
 </div>
  <%= form_with model:@counseling, url: user_counseling_path,local:true do |f| %>
   <%= f.label :title,"相談タイトル" %><br>
     <p><%= f.text_field :title ,size:"50x3"%></p>
    相談のジャンル<br>
     <p><%= collection_select(:genre, :name, @genres, :id, :genre) %></p>
     <%= f.label :level,"辛さのレベル" %>(1~5で選択して下さい。)<br>
    <p><%= f.number_field :level, in: 1..5 %></p>
     <%= f.label :content,"相談内容" %><br>
    <p><%= f.text_area :content, size: "40x10" %></p>
   <p><%= f.submit'相談を編集する',class:"btn btn-success" %></p>
  <% end %>
</div>
</div>