<%= flash[:notic] %>
<h4>相談ジャンル</h4>
<p><%= @counseling.genre.genre %></p>
<h4>辛さのレベル(1~5)</h4>
<p><%= @counseling.level %></p>
<h4>相談タイトル</h4>
<p><%= @counseling.title %></p>
<h4>相談内容</h4>
<p><%= @counseling.content %></p>


<p>コメント件数：<%= @counseling.answers.count %></p>
<% @counseling.answers.each do |answer| %>
  <p><%= answer.user.name %></p>
  <p><%= answer.content %></p>

  <% if current_user.good_by?(answer.id) %>
  <%= link_to 'いいねを外す', user_destroy_good_path(answer), method: :DELETE %>
  <%= answer.goods.count %>個のいいねがついています!
  <% else %>
   <%= link_to 'この相談にいいねする', user_create_good_path(answer), method: :POST %>
   <%= answer.goods.count %>個のいいねがついています!
  <% end %>

  <% if current_user.not_good_by?(answer.id) %>
  <p><%= link_to 'いいねを外す', user_destroy_not_good_path(answer), method: :DELETE %>
  <%= answer.not_goods.count %>個のよくないねがついています</p>
  <% else %>
   <p><%= link_to 'この相談よくないねする', user_create_not_good_path(answer), method: :POST %>
   <%= answer.not_goods.count %>個のよくないねがついています</p>
  <% end %>

  <% if answer.user == current_user %>
   <div>
    <%= link_to "削除", user_counseling_answer_path(answer.counseling_id, answer), method: :delete, data: {confirm: "回答を削除してよろしいですか？"} %>
   </div>
 <% end %>
<% end %>
</div>

<% if @counseling.user == current_user %>
   <div>
    <%= link_to "この相談を削除する", user_counseling_path(@counseling), method: :delete, data: {confirm: "相談を削除してよろしいですか？"} %>
    <%= link_to "この相談を編集する", edit_user_counseling_path(@counseling) %>
   </div>
 <% end %>
<div>
<%= form_with(model:[@counseling, @answer],url:user_counseling_answers_path(@counseling), local: true) do |f| %>
  <%= f.text_area :content, rows:'5',placeholder: "回答を記入して下さい" %>
  <%= f.submit "送信する" %>
<% end %>

