<%= flash[:notic] %>
<h4>相談ジャンル</h4>
<p><%= @counseling.genre.genre %></p>
<h4>辛さのレベル(1~5)</h4>
<p><%= @counseling.level %></p>
<h4>相談タイトル</h4>
<p><%= @counseling.title %></p>
<h4>相談内容</h4>
<p><%= @counseling.content %></p>


<p>コメント件数：<%= @counseling.answers.count %></p>
<% @counseling.answers.each do |answer| %>
  <p><%= answer.user.name %></p>
  <p><%= answer.content %></p>
  <% if answer.user == current_user %>
   <div>
    <%= link_to "削除", user_counseling_answer_path(answer.counseling_id, answer), method: :delete, data: {confirm: "回答を削除してよろしいですか？"} %>
   </div>
 <% end %>
<% end %>
</div>
<div>
<%= form_with(model:[@counseling, @answer],url:user_counseling_answers_path(@counseling), local: true) do |f| %>
  <%= f.text_area :content, rows:'5',placeholder: "回答を記入して下さい" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
