<div class="text-center">
 <div class="title mt-3">
  管理者ログイン
 </div>
  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <div class="field mt-3">
    <%= f.label :メールアドレス %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"30x1" %>
  </div>

  <div class="field mt-3">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "ログイン",class:"btn btn-success" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</div>