<div class="text-center">
 <div class="title mt-3">
  新規登録
 </div><%= flash[:error] %>
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>
 <div class="field mt-3">
  <%= f.label :image, "プロフィール写真" %><br>
   <%= f.attachment_field :image, autofocus: true %>
 </div>
 <div class="field mt-3">
  <%= f.label :name, "名前（ニックネーム可）" %><br>
  <%= f.text_field :name, autofocus: true %>
 </div>
 <div class="field mt-3">
  <%= f.label :club, "部活" %><br>
  <%= f.text_field :club, autofocus: true %>
 </div>
 <div class="field mt-3">
  <%= f.label :self_introduction, "自己紹介" %><br>
  <%= f.text_area :self_introduction, autofocus: true , :size=>"30x5" %>
 </div>
 <div class="field mt-3">
  <%= f.label :email, "メールアドレス" %><br>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"30x1" %>
 </div>
 <div class="field mt-3">
  <%= f.label :password, "パスワード" %>(6文字以上)<br>
  <% if @minimum_password_length %>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password" %><br>
 </div>
 <div class="field mt-3">
  <%= f.label :password_confirmation, "パスワード（確認）" %><br>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
 </div>
 <div class="actions mt-3">
  <%= f.submit "登録する", class:"btn btn-success"%>
 </div>
 <% end %>
   <div class="mt-3">
    既にアカウントをお持ちの方
    <div class="login">
     <%= link_to "ログイン", user_session_path, class:"btn btn-success" %>
    </div>
  </div>
 </div>
</div>
