<h2>プロフィール編集</h2>
<%= form_with model:@user,url:user_customer_path, local:true do |f| %>
<div class="field">
    <%= f.label :image, "プロフィール写真" %>
    <%= f.attachment_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name, "名前（ニックネーム可）" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :club, "部活" %>
    <%= f.text_field :club, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :self_introduction, "自己紹介" %>
    <%= f.text_area :self_introduction, autofocus: true , :size=>"30x3" %>
  </div>


  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>  <%= f.submit "変更を保存" %>
<% end %>
