<div class="text-center">
<div class="title mt-3">お問合せフォーム</div><br>

<%= form_with model: @contact do |f| %>
 <%= f.label :お名前 %><br>
 <%= f.text_field :name %><br>
 <%= f.label :お問合せ内容%><br>
 <%= f.text_area:message %><br>
 <%= f.submit 'お問合せを送信する' %>
<% end %>
</div>