<div class="container">
 <div class="row">
  <div class="col-md-10 offset-1">
   <div class="title mt-5">
    <%= @counseling.user.name %>さんの相談
   </div>
   <table class=table style="table-layout:fixed;width:90%;">
    <thead>
     <tr class="boder-bottm" style="word-wrap:break-word;">
      <th>
       <p>相談タイトル <%= @counseling.title %></p>
       <p>辛さのレベル<%= @counseling.level %></p>
       <p><%= @counseling.content %></p>
       <%= link_to "この相談を削除する", admin_counseling_path(@counseling), method: :delete, data: {confirm: "相談を削除してよろしいですか？(この相談に送られている回答も削除されます)"},class:"btn btn-danger" %>
      </th>
     </tr>
    </thead>
   </table>
  </div>
 </div>
</div>