<div class="container">
 <div class="row">
  <div class="col-md-5 offset-1">
   <div class="title mt-5" style="word-wrap:break-word;">
    <%= @user.name %>さんの相談一覧
   </div>
    <% @counselings.each do |counseling| %>
     <table class=table style="table-layout:fixed;width:90%;">
      <thead>
       <tr class="boder-bottm" style="word-wrap:break-word;">
        <th>
         <%= counseling.title %><br>
         <%= link_to "詳細",admin_counseling_path(counseling), class:"btn btn-success" %>
        </th>
       </tr>
      </thead>
     </table>
    <% end %>
   </div>
   <div class="col-md-5">
    <div class="title mt-5" style="word-wrap:break-word;">
     <%= @user.name %>さんの回答一覧
    </div>
     <% @answers.each do |answer| %>
      <table class=table style="table-layout:fixed;width:90%;">
       <thead>
        <tr class="boder-bottm" style="word-wrap:break-word;">
         <th>
          <%= answer.content %>
         </div>
         <div class="col-md-3">
          <%= link_to "詳細",admin_answer_path(answer),class:"btn btn-success" %>
         </th>
        </tr>
      </thead>
     </table>
    <% end %>
  </div>
 </div>
</div>
