<!DOCTYPE html>
<html>
  <head>
    <title>NorikoeBu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if admin_signed_in? %>
<div class= "container">
 <div class= "row mt-5">
  <div class= "col-md-2 offset-4 ">
   <%= image_tag 'logo.jpeg' %>
  </div>
  <div class= "col-md-6 text-center">
   <%= search_form_for @search,url: user_counselings_search_path do |f| %>
   <%= f.text_field :title_cont ,placeholder: '相談タイトル検索' %>
   <%= f.submit ("検索") %>
  </div>
  <div class= "col-10 offset-1 mt-3">
 <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-outline-success" %>
  </div>
  </div>
 </div>
  <% end %>

  <% elsif user_signed_in? %>
<div class= "container">
 <div class= "row mt-5">
  <div class= "col-md-2 offset-4 ">
   <%= image_tag 'logo.jpeg' %>
  </div>
  <div class= "col-md-6 text-center">
   <%= search_form_for @search,url: user_counselings_search_path do |f| %>
   <%= f.text_field :title_cont ,placeholder: '相談タイトル検索' %>
   <%= f.submit ("検索") %>
      <%= current_user.name %>さんがログイン中
  </div>

  <div class= "col-10 offset-1 mt-3">
   <%= link_to "トップページ",root_path , class:"btn btn-success mr-3"%>
   <%= link_to "管理者の体験談",user_admins_path , class:"btn btn-success mr-3"%>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class:"btn btn-success mr-3" %>
   <%= link_to "マイページ",user_customer_path(current_user) , class:"btn btn-success mr-3"%>
   <%= link_to "相談する",new_user_counseling_path , class:"btn btn-success mr-3"%>
   <%= link_to "お問合せ", new_contact_path , class:"btn btn-success mr-3"%>
  </div>
  </div>
 </div>
  <% end %>


  <% else %>
  <div class= "container">
 <div class= "row mt-5">
  <div class= "col-md-2 offset-4 ">
   <%= image_tag 'logo.jpeg' %>
  </div>
  <div class= "col-md-6 text-center">
   <%= search_form_for @search,url: user_counselings_search_path do |f| %>
   <%= f.text_field :title_cont ,placeholder: '相談タイトル検索' %>
   <%= f.submit ("検索") %>
  </div>

  <div class= "col-10 offset-1 mt-3">
   <%= link_to "トップページ",root_path , class:"btn btn-success mr-3"%>
   <%= link_to "管理者の体験談",user_admins_path , class:"btn btn-success mr-3"%>
   <%= link_to "新規登録", new_user_registration_path, method: :delete , class:"btn btn-success mr-3" %>
   <%= link_to "ログイン", user_session_path , class:"btn btn-success mr-3"%>
   <%= link_to "お問合せ", new_contact_path , class:"btn btn-success mr-3"%>
  </div>
  </div>
 </div>
  <% end %>

  <% end %>
  <body>
    <%= yield %>
  </body>
</html>

