<!DOCTYPE html>
<html>
  <head>
    <title>NorikoeBu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <div class="tennis">
    <%= image_tag 'tennis.jpeg', size: '250x250' %>
   </div>
   <div class="baseball">
   <%= image_tag 'baseball.jpeg', size: '250x250'%>
  </div>
   <div class="basketball">
   <%= image_tag 'basketball.jpeg', size: '250x250'%>
  </div>
   <div class="football">
   <%= image_tag 'football.jpeg', size: '250x250'%>
  </div>
   <div class="run">
   <%= image_tag 'run.jpeg', size: '250x250'%>
  </div>
   <div class="tabletennis">
   <%= image_tag 'tabletennis.jpeg', size: '230x230'%>
  </div>

  <div class= "text-center mt-5">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	  <%= image_tag 'logo.jpeg', size: '130x100' %>
	   <p><%= search_form_for @search,url: user_counselings_search_path do |f| %>
   <%= f.text_field :title_cont ,placeholder: '相談タイトル検索' %>
   <%= f.submit ("検索") ,class:"btn btn-success ml-3"%>
   <% end %>
  </div>

  <% if admin_signed_in? %>
<div class= "container">
 <div class= "row mt-2">
  <div class= "col-md-5 offset-5 mt-2">
   <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-success" %>
   </div>
  </div>
 </div>

  <% elsif user_signed_in? %>
<div class= "container">
 <div class= "row mt-2">
  <div class= "col-10 offset-2 mt-2">
   <%= link_to "マイページ",user_customer_path(current_user) , class:"btn btn-success mr-3"%>
   <%= link_to "トップページ",root_path , class:"btn btn-success mr-3"%>
   <%= link_to "相談する",new_user_counseling_path , class:"btn btn-success mr-3"%>
   <%= link_to "管理者の体験談",user_admins_path , class:"btn btn-success mr-3"%>
   <%= link_to "お問合せ", new_contact_path , class:"btn btn-success mr-3"%>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class:"btn btn-success mr-3" %>
   </div>
  </div>
 </div>



  <% else %>
  <div class= "container">
   <div class= "row mt-2">
    <div class= "col-8 offset-3 mt-2">
     <%= link_to "トップページ",root_path , class:"btn btn-success mr-3"%>
     <%= link_to "管理者の体験談",user_admins_path , class:"btn btn-success mr-3"%>
     <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success mr-3" %>
     <%= link_to "ログイン", user_session_path , class:"btn btn-success mr-3"%>
    </div>
   </div>
  </div>
  <% end %>
  <body>
    <%= yield %>

  </body>
</html>

