<!DOCTYPE html>
<html>
  <head>
    <title>NorikoeBu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
   <%= current_user.name %>さんがログイン中
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
   <%= link_to "マイページヘ",user_customer_path(@user) %>
  <% else %>
   <%= link_to "ログイン", user_session_path %>すると相談ができます
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
